## Variables
> only certain characters are allowed
* Letters (uppercase and lowercase)
* Numbers: 0-9
* Underscore (_)

In [1]:
# my_variable
my_int = 11

In [2]:
my_int

11

In [3]:
# note that variable names can't start with numbers or special characters
@my-int = 11

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3114445818.py, line 2)

### Converting Data type

In [6]:
my_str = '1.98'
print(float(my_str))
print(type(my_str))
print(type(float(my_str)))

1.98
<class 'str'>
<class 'float'>

In [7]:
my_int +1

12

In [8]:
my_int/2

5.5

In [9]:
my_int//2

5

In [10]:
my_int%2

1

In [12]:
my_int += 1
my_int

13

In [13]:
my_int//2

6

In [15]:
my_int -=1

In [16]:
my_int

11

In [17]:
my_float = 12.5

In [18]:
my_float+ 1

13.5

In [19]:
my_float//2

6.0