In [1]:
from IPython.display import display, HTML
display (HTML("<style>.container{width :100% ! important; }</style>"))

In [2]:
my_list = [10,20,30]
my_list

[10, 20, 30]

In [3]:
my_list_2 = ['Hello',2,"5.1"]
my_list_2

['Hello', 2, '5.1']

In [4]:
#Nested_List
my_list_3 = [[10,20,30],"Hello",50]
my_list_3

[[10, 20, 30], 'Hello', 50]

In [5]:
my_tuple = (10,20,30)
my_tuple

(10, 20, 30)

In [6]:
my_tuple_2 = (10,20,[1,2,"Hello!"])
my_tuple_2

(10, 20, [1, 2, 'Hello!'])

### Accessing Elements
* Indexing : Retrieve elements using their position within sequence. Both lists and tuples use zero-based indexing, meaning the first element is at index 0.
* Slicing : Extract a sub-sequence of elements using colon(:) notation. You can specify start, stop, and step indices to customize the extraction.

In [7]:
# Indexing on Lists:
my_list_3

[[10, 20, 30], 'Hello', 50]

In [8]:
my_list_3[0]

[10, 20, 30]

In [10]:
my_list_3[0][1]

20

In [11]:
my_list_4 = [20,30,90,100,210,250]
my_list_4

[20, 30, 90, 100, 210, 250]

In [12]:
my_list_4[4:]

[210, 250]

In [13]:
my_list_4[-2:]

[210, 250]

In [16]:
my_tuple_3 = ('Hello',50,[10,20,30])
my_tuple_3

('Hello', 50, [10, 20, 30])

In [17]:
my_tuple_3[2][2]

30

In [18]:
my_tuple_4  = (20,30, 9110,100, 1000,210,250)
my_tuple_4

(20, 30, 9110, 100, 1000, 210, 250)

In [19]:
my_tuple_4[4:]

(1000, 210, 250)

In [20]:
my_list_4[-2:]

[210, 250]

### Accessing Elements

#### Add Elements:
* Append () add element to the end of the list

In [21]:
my_list

[10, 20, 30]

In [22]:
my_list.append((1,2))

In [23]:
my_list

[10, 20, 30, (1, 2)]

* insert(index, element): Insert an element at a specific index within the list.

In [24]:
my_list.insert(1,"Hello")

In [25]:
my_list

[10, 'Hello', 20, 30, (1, 2)]

* extend(iterable) : Extend the list by appending all elements from another iterable (like another llist or tuple)

In [26]:
my_list.extend(my_list_2)

In [27]:
my_list

[10, 'Hello', 20, 30, (1, 2), 'Hello', 2, '5.1']

In [28]:
my_tuple

(10, 20, 30)

In [29]:
# Also extend list with tuple elements
my_list.extend(my_tuple)

In [30]:
my_list

[10, 'Hello', 20, 30, (1, 2), 'Hello', 2, '5.1', 10, 20, 30]

* Remove elements:
    remove(value): Remove the first occurence of a specific value.

In [31]:
my_list

[10, 'Hello', 20, 30, (1, 2), 'Hello', 2, '5.1', 10, 20, 30]

In [32]:
# This changes underlying object itself
my_list.remove((1,2))

In [33]:
my_list

[10, 'Hello', 20, 30, 'Hello', 2, '5.1', 10, 20, 30]

In [34]:
my_list.remove(10)

In [36]:
# remove function removes the first occurence of elements
my_list

['Hello', 20, 30, 'Hello', 2, '5.1', 10, 20, 30]

* pop(index) : Remove and return the element at a specific index (or the last element by default)

In [37]:
# Removes the 4th index element and removes it.
my_list.pop(4)

2

In [38]:
my_list

['Hello', 20, 30, 'Hello', '5.1', 10, 20, 30]

In [40]:
tmp_var = my_list.pop(4)
tmp_var

10

In [41]:
my_list.pop()

30

* del   list(index) : Delete the element at a specific index.

In [42]:
# Deletes the element at the 0th index
del my_list[0]

In [43]:
my_list

[20, 30, 'Hello', 20]

### Common Operation for Both Lists and Tuples
* Length : Find the number of elements using the len() function.

In [46]:
my_list_5 = [[(10,100),20,30],"Hello!",50]

In [47]:
# Get  the length of the list
len(my_list_5)

3

In [49]:
# get the tuple (10,100) using indexing
my_list_5[0][0]

(10, 100)

In [50]:
# Get the length of the tuple
len(my_list_5[0][0])

2

**Membership** : Check  if an element exists using the in operator.

In [52]:
my_list_5

[[(10, 100), 20, 30], 'Hello!', 50]

In [51]:
# for list
10 in my_list_5

False

In [53]:
# for list
50 in my_list_5

True

In [55]:
# for tuple
'Hello' in (50,"Hello")

True

**Concatenation** : Combine two sequences using the + operator to create a new list.

In [57]:
# for list
my_list

[20, 30, 'Hello', 20]

In [58]:
# for list
my_list_2

['Hello', 2, '5.1']

In [59]:
my_list + my_list_2

[20, 30, 'Hello', 20, 'Hello', 2, '5.1']

In [61]:
# for tuple
my_tuple + my_tuple_2

(10, 20, 30, 10, 20, [1, 2, 'Hello!'])

**Minimum and Maximum** : Find the smallest and largest value using min() and max() functions, respectively.

In [62]:
# for_list
my_list_4

[20, 30, 90, 100, 210, 250]

In [63]:
# for list
min(my_list_4)

20

In [64]:
# for list
max(my_list_4)

250

In [65]:
# for tuple
min(my_tuple)

10

In [66]:
# for tuple
max(my_tuple)

30

**Counting** - Determine the number of occurrences of an element using the count() method (lists) or built-in function(tuples)

In [67]:
my_list_6 = [1,1,1,1,1,2,2,2,3,3,3,3,3]

In [68]:
my_list_6.count(1)

5

In [69]:
my_tuple_5 = ([1,1,1,1,1],1,1,1,2,2,1000,1001,3,4,5,1,1,1)

In [70]:
my_tuple_5.count(1)

6

**Sorting:** Arrange elements in a specific order (ascending or descending) using the sort() method or sorted() method. The main difference between sort() and sorted() in Python lies in how you perform sorting on lists. sort() modifies the original list in place, while sorted() creates a new sorted list. Furthermore, only sorted() works on tuples, since tuples are immutable.

In [73]:
my_list_7 = [1,1,1,1,2,2,2,4,4,4,3,3,3]

In [74]:
my_list_7.sort()

In [75]:
my_list_7

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4]

In [76]:
my_tuple_6 = my_tuple_5[1:]
my_tuple_6

(1, 1, 1, 2, 2, 1000, 1001, 3, 4, 5, 1, 1, 1)

In [77]:
sorted(my_tuple_6)

[1, 1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 1000, 1001]