# Operations on Set and Frozensets

* Sets and frozensets are unordered collections that store unique elements.

In [2]:
my_set = {"Poland", "India","Hungary","USA","India","United Kingdom","Poland"}

In [3]:
my_set

{'Hungary', 'India', 'Poland', 'USA', 'United Kingdom'}

### Creating Sets and FrozenSets

**Sets** Use the set()

In [4]:
# Creating an Empty Set
empty_set = set()

In [5]:
type(empty_set)

set

In [6]:
# Note that using curly braces creates an empty dictionary
empty_dict = {}

In [7]:
empty_dict

{}

In [8]:
type(empty_dict)

dict

In [9]:
my_set = {'apple','banana','cherry'}

In [10]:
my_set1 = {[1,2,3],2}

TypeError: unhashable type: 'list'

In [11]:
my_set1 = {frozenset({1,2,3}),1,2}

In [12]:
type(my_set1)

set

In [13]:
my_set1

{1, 2, frozenset({1, 2, 3})}

In [14]:
my_frozenset = frozenset(my_set1)

In [15]:
my_frozenset

frozenset({1, 2, frozenset({1, 2, 3})})

In [16]:
type(my_frozenset)

frozenset

### Adding Elements

* **Sets** Use the add method to add an element to the set_name.add(element)

In [17]:
my_set

{'apple', 'banana', 'cherry'}

In [18]:
# Note that this adds the elemetn in place in teh set and changes set object itself
my_set.add('mango')

In [19]:
my_set

{'apple', 'banana', 'cherry', 'mango'}

### Removing Elements

* discard method is similar but doesn't raise an error if the element is not found.

In [20]:
# Note that this removes the element in place in the set and changes set object itself
my_set.remove('banana')

In [21]:
my_set

{'apple', 'cherry', 'mango'}

In [22]:
# The remove method throws a keyerror if the element is not present in the set
my_set.remove('kiwi')

KeyError: 'kiwi'

In [ ]:
# Note no keyerror was raised and the set remained the same since 'kiwi' isn't present.
my_set.discard('kiwi')

In [ ]:
my_set.discard('cherry')

In [ ]:
my_set

{'apple', 'mango'}

### Checking for membership

**Sets & Frozensets** Use the in operator to check if an element exists in the set or frozenset element in set_name.

In [23]:
'apple' in my_set

True

In [24]:
# This will not work, since the add method returns NoneType, although we'll see that kiwi has been added to the set
'kiwi' in my_set.add('kiwi')

TypeError: argument of type 'NoneType' is not iterable

In [ ]:
# although kiwi is added in my_set it is not present in my_set
'kiwi' in my_set

True

In [ ]:
my_set

{'apple', 'kiwi', 'mango'}

In [ ]:
'cherry' not in my_set

True

In [ ]:
'apple' not in my_set

False

### Set Operations (All of these Work for Frozensets tool)

In [25]:
set1 = {'apple','banana','orange'}
set2 = {'mango','grape','apple'}

In [26]:
union_set = set1.union(set2)

* Union combines elements from both sets, resulting in a new set with all unique elements set1.union(set2).

In [27]:
union_set

{'apple', 'banana', 'grape', 'mango', 'orange'}

* Intersection : Finds common elements present in both sets, resulting in a new set set1.intersection(set2)

In [28]:
intersection_set = set1.intersection(set2)
intersection_set

{'apple'}

* difference : Elements in the first set but not in the second resulting in a new set set1.difference(set2)

In [29]:
difference_set = set1.difference(set2)

* **symmetric difference** Elements that are in exactly one set but not in both, resulting in a new set set1.symmetric_difference(set2).

In [30]:
symmetric_difference = set1.symmetric_difference(set2)
symmetric_difference

{'banana', 'grape', 'mango', 'orange'}

**Subset and Superset:** Use methods issubset and issuperset to check if one set is a subset or superset of another.

In [31]:
set3 = {'apple','banana'}
set4 = {'apple','grape','mango'}

In [34]:
print(set1)
print(set2)

{'orange', 'apple', 'banana'}
{'mango', 'apple', 'grape'}

In [33]:
set3.issubset(set1)

True

In [35]:
set3.issubset(set2)

False

In [36]:
# Check wheather set1 contains all elements of set3
set1.issuperset(set3)

True