# Data Type Quiz

### Exercise 1 - Boolean
Create a single expression using boolean operators (and, or, not) that evaluates to *True* if a number is even and greater than 10

In [2]:
a = int(input("Enter a number: "))

if (a % 2 == 0) and (a > 10):
    print(f'{a} is even and greater than 10')

### Exercise 2 - String
Split this string into a list containing ["I'm eating","ice-cream lately."] from "I'm eating a lot of ice=cream lately."

In [5]:
a = "I'm eating a lot of ice-cream lately"

In [6]:
b = a.split(" a lot of ")
b

["I'm eating", 'ice-cream lately']

### Exercise 3 - Tuple 
Check if a specific element exists within a nested tuple myTuple = (1,(2,3),4)

In [7]:
myTuple = (1,(2,3),4)
1 in myTuple

True

In [9]:
(2,3) in myTuple

True

### Exercise 4 - List
Find the elements present in list1 but not in list2, as well as those present in list 2 but not in list 1 : list1 = [1,2,3,4,2] list 2 : list2 = [2,4,5,6,4]

In [10]:
list1 = [1,2,3,4,2]
list2 = [2,4,5,6,4]

In [19]:
(set(list1) - set(list2)).union(set(list2) -set(list1))

{1, 3, 5, 6}

In [20]:
(set(list1).difference(set(list2))).union(set(list2).difference(set(list1)))

{1, 3, 5, 6}

In [21]:
set(list1).symmetric_difference(set(list2))

{1, 3, 5, 6}

### Exercise 5 - Dictionary
Add education as 'Graduate' in the dictionary person = {'name':"alice",'age':30}

In [27]:
person = {'name':'Alice','age':25}

In [30]:
person['Education'] = 'Graduate'

In [31]:
person

{'name': 'Alice', 'age': 25, 'Education': 'Graduate'}

### Exercise 6 - String
Given total marks = 500, marks obtained - 390, fill in the blanks in this string and print it - "Ankush obtained_ marks out of a total of_ , thus scoring_percent"

In [34]:
total_marks = 500
marks_obtained = 390
percentage = marks_obtained / total_marks * 100

result = print(f'Ankush obtained {marks_obtained} out of a total of {total_marks},thus scoring {percentage} percentage')
result

Ankush obtained 390 out of a total of 500,thus scoring 78.0 percentage

### Exercise 8 - Indexing a list 
Given the nested list , get the character '%%' :[1,2,3,[1,2,[1,2,3,"%%"]]]

In [36]:
list1 = [1,2,3,[1,2,[1,2,3,"%%"]]]
list1[-1][-1][-1]

'%%'

### Exercise 9 - Indexing  a Dictionary
Given this nested dictionary, get the character "%%": {'a':[1,2,3,{'b':[1,2,{'c':[1,2,3,"%%"]}]}]}

In [1]:
my_dict = {'a':[1,2,3,{'b':[1,2,{'c':[1,2,3,"%%"]}]}]}
my_dict

{'a': [1, 2, 3, {'b': [1, 2, {'c': [1, 2, 3, '%%']}]}]}

In [5]:
my_dict['a'][3]['b'][2]['c'][3]

'%%'

### Exercise 10 - Tuple
* Create a new tuple with 5 value appended to the original tuple of (1,2,3,4)

In [6]:
my_tup = (1,2,3,4)
type(my_tup)

tuple

In [8]:
my_list = list(my_tup)
my_list.append(5)
my_tup1 = tuple(my_list)

In [9]:
my_tup1

(1, 2, 3, 4, 5)

In [14]:
# This is the easiest method
my_tup+(5,)

(1, 2, 3, 4, 5)

### Exercise 11 - Reversing a List
* Return the reversed list = [1,2,7,3,6,5,4,5,5,7]

In [10]:
my_list1 = [1,2,7,3,6,5,4,5,5,7]

In [13]:
my_list1[::-1]

[7, 5, 5, 4, 5, 6, 3, 7, 2, 1]